<%- include("./partials/header")%>
<!--  -->
<div id="bg">
    <%- include("./partials/nav")%>
    
    <h1 class="text-center ih1 p-5">Book Store Home</h1>
</div>
<!--  -->
<%- include("./partials/footer")%>
